<div id="landingShop">

</div>


<!--<div class="form-subscribe">-->
  <!--<div class="container small">-->
    <!--<div class="form-header">-->
      <!--<h2 class="form-header__h2">Заполните форму и узнайте как повысить конверсию интернет-магазина</h2>-->
      <!--<div class="lock"><span class="lok-ico"></span>Ваши данные надежно защищены</div>-->
    <!--</div>-->
    <!--<div class="w-form">-->
      <!--<% form = current_site.contact_forms.where({slug: "marketing-form"}).first %>-->

      <!--<% if form.present? %>-->
        <!--<%= form_for form, url: plugins_cama_contact_form_save_form_path, html: {method: "post", class: "validate-form form", multipart: true} do |f| %>-->
          <!--<%= hidden_field_tag "id", form.id %>-->
          <!--<%= hidden_field_tag "format", "json" %>-->
          <!--<div class="form-group">-->
            <!--<% name_field = get_form_field(form, "c2") %>-->
            <!--<div class="icon-input"></div><input class="input-text w-input" name="<%= name_field[:name] %>" type="text" <%= 'required' if name_field[:required].to_bool %> placeholder="<%= name_field[:field_options][:description].translate %>">-->
            <!--<div class="angle-docore">-->
              <!--<div class="angle">-->
                <!--<div class="separator"></div>-->
                <!--<div class="b1"></div>-->
              <!--</div>-->
              <!--<div class="angle tl">-->
                <!--<div class="b1"></div>-->
                <!--<div class="separator"></div>-->
              <!--</div>-->
              <!--<div class="angle tr">-->
                <!--<div class="b1"></div>-->
                <!--<div class="separator"></div>-->
              <!--</div>-->
              <!--<div class="angle br">-->
                <!--<div class="b1"></div>-->
                <!--<div class="separator"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<% phone_field = get_form_field(form, "c3") %>-->
            <!--<div class="icon-input"></div><input class="input-text w-input" name="<%= phone_field[:name] %>" type="tel" <%= 'required' if phone_field[:required].to_bool %>  placeholder="<%= phone_field[:field_options][:description].translate %>">-->
            <!--<div class="angle-docore">-->
              <!--<div class="angle">-->
                <!--<div class="separator"></div>-->
                <!--<div class="b1"></div>-->
              <!--</div>-->
              <!--<div class="angle tl">-->
                <!--<div class="b1"></div>-->
                <!--<div class="separator"></div>-->
              <!--</div>-->
              <!--<div class="angle tr">-->
                <!--<div class="b1"></div>-->
                <!--<div class="separator"></div>-->
              <!--</div>-->
              <!--<div class="angle br">-->
                <!--<div class="b1"></div>-->
                <!--<div class="separator"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<% email_field = get_form_field(form, "c4") %>-->
            <!--<div class="icon-input"></div><input class="input-text w-input" name="<%= email_field[:name] %>" type="email" <%= 'required' if email_field[:required].to_bool %>  placeholder="<%= email_field[:field_options][:description].translate %>">-->
            <!--<div class="angle-docore">-->
              <!--<div class="angle">-->
                <!--<div class="separator"></div>-->
                <!--<div class="b1"></div>-->
              <!--</div>-->
              <!--<div class="angle tl">-->
                <!--<div class="b1"></div>-->
                <!--<div class="separator"></div>-->
              <!--</div>-->
              <!--<div class="angle tr">-->
                <!--<div class="b1"></div>-->
                <!--<div class="separator"></div>-->
              <!--</div>-->
              <!--<div class="angle br">-->
                <!--<div class="b1"></div>-->
                <!--<div class="separator"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<input class="who-are-you" type="text" name="who_are_you" value="">-->
          <!--<div class="fomr-submit"><input type="submit" value="бесплатная консультация"  class="btn w-button">-->
            <!--<div class="angle-docore">-->
              <!--<div class="angle">-->
                <!--<div class="separator"></div>-->
                <!--<div class="b1"></div>-->
              <!--</div>-->
              <!--<div class="angle tl">-->
                <!--<div class="b1"></div>-->
                <!--<div class="separator"></div>-->
              <!--</div>-->
              <!--<div class="angle tr">-->
                <!--<div class="b1"></div>-->
                <!--<div class="separator"></div>-->
              <!--</div>-->
              <!--<div class="angle br">-->
                <!--<div class="b1"></div>-->
                <!--<div class="separator"></div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        <!--<% end %>-->
        <!--<div class="w-form-done">-->
          <!--<span class="valid-msg msg-block__sucess"></span>-->
        <!--</div>-->
        <!--<div class="w-form-fail">-->
          <!--<span class="error-msg msg-block__error"></span>-->
        <!--</div>-->
      <!--<% end %>-->


    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div id="hards" class="hards">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">Вы – владелец интернет-магазина и столкнулись с такими проблемами:</h2>
    </div>
    <div class="decor-text">Проблеммы</div>
    <div class="problem-cols">
      <div class="problem-item">
        <div class="row">
          <div class="col">
            <div class="pint-doted">
              <div class="point-decor">
                <div class="c1">
                  <div class="c2"></div>
                </div>
              </div>
              <div class="doted"></div>
            </div>
          </div>
          <div class="col">
            <div class="problem-item__title">Нет продаж</div>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <ul class="w-list-unstyled">
              <li>- <span class="yellow">Товар плохо продается</span>, но вы не знаете, как повлиять на конверсию сайта? </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="problem-item">
        <div class="row">
          <div class="col">
            <div class="pint-doted p1">
              <div class="point-decor">
                <div class="c1">
                  <div class="c2"></div>
                </div>
              </div>
              <div class="doted"></div>
            </div>
          </div>
          <div class="col">
            <div class="problem-item__title">Брошеные корзины</div>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <ul class="w-list-unstyled">
              <li>- <span class="yellow">Покупатели бросают корзину</span>, не совершив покупку?</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="problem-item">
        <div class="row">
          <div class="col">
            <div class="pint-doted p3">
              <div class="point-decor">
                <div class="c1">
                  <div class="c2"></div>
                </div>
              </div>
              <div class="doted"></div>
            </div>
          </div>
          <div class="col">
            <div class="problem-item__title">Потеря клиентов</div>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <ul class="w-list-unstyled">
              <li><span class="yellow">Теряете клиентов</span> — посетители не оставляют свои данные из-за сложной регистрации?</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="problem-item">
        <div class="row">
          <div class="col">
            <div class="pint-doted p4">
              <div class="point-decor">
                <div class="c1">
                  <div class="c2"></div>
                </div>
              </div>
              <div class="doted"></div>
            </div>
          </div>
          <div class="col">
            <div class="problem-item__title">Потеря клиентов</div>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <ul class="w-list-unstyled">
              <li><span class="yellow">Теряете клиентов</span> — посетители не оставляют свои данные из-за сложной регистрации?</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="problem-item">
        <div class="row">
          <div class="col">
            <div class="pint-doted p5">
              <div class="point-decor">
                <div class="c1">
                  <div class="c2"></div>
                </div>
              </div>
              <div class="doted"></div>
            </div>
          </div>
          <div class="col">
            <div class="problem-item__title">Потеря времени</div>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <ul class="w-list-unstyled">
              <li><span class="yellow">Менеджеры тратят время</span> на звонки клиентам, рассказывая о преимуществах товара?</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="problem-item">
        <div class="row">
          <div class="col">
            <div class="pint-doted p6">
              <div class="point-decor">
                <div class="c1">
                  <div class="c2"></div>
                </div>
              </div>
              <div class="doted"></div>
            </div>
          </div>
          <div class="col">
            <div class="problem-item__title">Дорогая реклама</div>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <ul class="w-list-unstyled">
              <li><span class="yellow">Слишком дорогая реклама</span> — продвижение интернет-магазина обходится минимум в 40 грн за 1 клик по высокочастотному запросу. Оставаться на топ-позициях становится все сложнее? </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="problem-block">
  <div class="container small">
    <div class="block-header">
      <h2 class="heading">Узнайте за Х минут, как продавать товар на 70% эффективнее через одностраничник</h2>
      <h3 class="heading i-h3">без брошенных корзин, потери контактов и переплат за трафик </h3>
    </div>
  </div>
  <div class="conveer-block">
    <div class="macbook">
      <div class="macscreen"><img src="<%= theme_img_url "funnel_shop/problem-screen.png" %>"></div>
    </div>
  </div>
</div>

<div id="choice" class="choice">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">Чем отличается одностраничный интернет-магазин от обычного?</h2>
    </div>
    <div class="choice-row i-title">
      <div class="choice-col">
        <div class="speed-block">
          <div data-w-id="813efc23-467e-a8f4-15f0-fc644daf8f1f" class="speed-arrow"></div>
        </div>
        <div class="choice-title"><span class="yellow">ОБЫЧНЫЙ</span><br>ИНТЕРНЕТ-МАГАЗИН</div>
      </div>
      <div class="choice-col i-hidden"></div>
      <div class="choice-col">
        <div class="speed-block high">
          <div data-w-id="273e048e-da37-08b0-45cf-7424bb6c637e" class="speed-arrow high"></div>
        </div>
        <div class="choice-title"><span class="yellow">ОДНОСТРАНИЧНЫЙ</span><br>ИНТЕРНЕТ-МАГАЗИН</div>
      </div>
    </div>
    <div class="choice-row">
      <div class="choice-col right">
        <p class="i-opacity-1">Широкий ассортимент товара заставляет человека сравнивать цены, сомневаться. Как итог —<span class="yellow">покупатель уходит, не выбрав ничего</span>.</p>
      </div>
      <div class="choice-col center">
        <div class="choice-title__sub">Продает конкретный товар</div>
        <div class="icon-block">
          <div class="line-block"></div>
          <div class="border-block">
            <div class="angle-docore">
              <div class="angle">
                <div class="separator"></div>
                <div class="b1"></div>
              </div>
              <div class="angle tl">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle tr">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle br">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
            </div>
            <div class="choice-ico"></div>
          </div>
          <div class="line-block"></div>
        </div>
      </div>
      <div class="choice-col">
        <p class="i-wihte"><span class="yellow">Одностраничник продает 1 товар</span>, описывает его преимущества, модельный ряд,
          <span class="yellow">не распыляя внимание посетителя и плавно подводит к</span> 1 целевому действию -«заказать». </p>
      </div>
    </div>
    <div class="choice-row">
      <div class="choice-col right">
        <p class="i-opacity-1">Интернет-магазин одновременно продвигает весь товар по разным ключевым запросам. Есть все шансы, что какой-то продукт
          <span class="yellow">не покупают лишь потому, что его просматривает не целевая аудитория</span>.</p>
      </div>
      <div class="choice-col center">
        <div class="choice-title__sub">Привлекает целевой трафик</div>
        <div class="icon-block">
          <div class="line-block"></div>
          <div class="border-block">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="choice-ico"></div>
          </div>
          <div class="line-block"></div>
        </div>
      </div>
      <div class="choice-col">
        <p class="i-wihte">Одностраничник продвигается по ключевым запросам только по 1 товару под конкретную целевую аудиторию.
          <span class="yellow">Конверсия на 5-30% выше, чем у обычного интернет-магазина</span>!</p>
      </div>
    </div>
    <div class="choice-row">
      <div class="choice-col right">
        <p class="i-opacity-1">Громоздкие формы регистрации и сложное оформление заказа отталкивают покупателя от завершения покупки. В итоге
          <span class="yellow">теряются не только деньги, но и огромная база потенциальных клиентов</span>. </p>
      </div>
      <div class="choice-col center">
        <div class="choice-title__sub">Собирает базу клиентов в 1 клик</div>
        <div class="icon-block">
          <div class="line-block"></div>
          <div class="border-block">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="choice-ico"></div>
          </div>
          <div class="line-block"></div>
        </div>
      </div>
      <div class="choice-col">
        <p class="i-wihte">Покупателю достаточно оставить свой номер телефона в форме заявки и отдел продаж возьмет всю работу по оформлению заказа на себя. Даже
          <span class="yellow">если клиент не купил товар после заявки, у вас остается его контакт в базе</span>. </p>
      </div>
    </div>
    <div class="decor-text">Разница</div>
  </div>
  <div class="decor-sep"></div>
</div>

<div id="trump" class="trump">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">Хотите узнать, как использовать одностраничник в вашем бизнесе? </h2>
      <p><span class="yellow">Запишитесь на бесплатную консультацию и мы:</span></p>
    </div>
    <div class="decor-text">бесплатно</div>
    <div class="trump-row">
      <div class="tramp-row-item">
        <div class="trump-item">
          <div class="trump-container">
            <h2 class="heading-3">Есть вопросы?</h2>
            <p>- Ответим на все вопросы.</p>
            <p>- Обсудим ваш товар и особенности бизнеса.</p>
          </div>
          <div class="slider-item__num">1</div>
        </div>
        <div class="trump-item">
          <div class="trump-container">
            <h2 class="heading-3">Стратегия</h2>
            <p>- Продумаем стратегию продаж.</p>
            <p>- Просчитаем стоимость одностраничника за ХХ минут.</p>
          </div>
          <div class="slider-item__num">2</div>
        </div>

        <div class="center">
          <a href="javascript:;" class="btn w-button btn-border consulting-button">Записаться на бесплатную консультацию<div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div></a>
        </div>

      </div>
      <div class="tramp-row-item right"><img src="<%= theme_img_url "funnel_shop/trump-img.png" %>"></div>
    </div>
  </div>
</div>

<div id="gains" class="gains">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">4 главных преимущества наших одностраничников</h2>
    </div>

    <div class="decor-text">выгоды</div>

  </div>


  <div id="trigger1"></div>
  <div id="pin1">
    <div class="slider">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="slider-item-container">
              <div  class="slider-item">
                <div class="slider-item__mac">
                  <div class="slider-item__mac-icon"></div>
                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">Продающая структура</h2>
                    <p>Посетитель <span class="yellow">становится покупателем</span> всего за 4 шага:</p>
                    <ol class="list-numbers">
                      <li>Обращает внимание на товар.</li>
                      <li>Заинтересовывает.</li>
                      <li>Вызывает желание получить товар как можно быстрее.</li>
                      <li>Заставляет сделать покупку.</li>
                    </ol>
                  </div>
                  <div class="slider-item__num">01</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-item-container">
              <div  class="slider-item">
                <div class="slider-item__mac">
                  <div class="slider-item__mac-icon"></div>
                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">Закрытие всех возражений</h2>
                    <p>Покупатель получает <span class="yellow">всю информацию на одной странице</span>:</p>
                    <ol class="list-numbers">
                      <li>все о товаре и компании-продавце;</li>
                      <li>уникальные акции или бонусы;</li>
                      <li>схема оплаты и доставки товара;</li>
                      <li>закрытие частых вопросов и страхов, связанных с товаром;</li>
                      <li>простая форма заказа.</li>
                    </ol>
                  </div>
                  <div class="slider-item__num">02</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-item-container">
              <div  class="slider-item">
                <div class="slider-item__mac">
                  <div class="slider-item__mac-icon"></div>
                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">Модель под любой товар</h2>
                    <p>Сфера вашего бизнеса не имеет значения —
                      <span class="yellow">грамотно спроектированный одностраничный интернет-магазин</span>, гарантированно увеличит продажи, будь это игрушки, изделия ручной работы, пиццерия, обувь или аквариум для домашних рыбок.</p>
                  </div>
                  <div class="slider-item__num">03</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-item-container">
              <div  class="slider-item">
                <div class="slider-item__mac">
                  <div class="slider-item__mac-icon"></div>
                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">Экономия времени и денег</h2>
                    <p><span class="yellow">Работа по недорогим и низкочастотным запросам</span>, а также таргетирование рекламы в разы сокращает расходы на продвижение и увеличивает прибыль. </p>
                    <p><span class="yellow">Быстрая статистика позволяет мгновенно отследить</span> прямую зависимость между изменениями на сайте и показателем конверсии. Зная это, вы легко сможете влиять на продажи.</p>
                    <p>Возможность
                      <span class="yellow">тиражирования сайта под несколько товаров за 25% стоимости</span>, благодаря простой и понятной CMS.</p>
                  </div>
                  <div class="slider-item__num">04</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>


  <div class="decore-lamp"></div>
  <div class="gains-decor2"></div>
  <div class="gains-decor1"></div>
</div>


<div id="trump" class="trump">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">Разработаем одностраничник с возможностями полноценного сайта за ХХ дней</h2>
      <h3 class="heading"><span class="yellow">при этом вы сами выбираете функционал и управляете контентом</span></h3>
    </div>
    <div class="decor-text">выгода</div>
    <div class="trump-row">
      <div class="tramp-row-item">
        <div class="trump-item">
          <div class="trump-container">
            <h2 class="heading-3">УДОБНАЯ CMS</h2>
            <p>Одностраничник функционирует как полноценный сайт, благодаря удобной панели для администрирования контента. Вы сможете загружать и редактировать весь контент на нескольких языках без программистов.</p>
          </div>
          <div class="slider-item__num">1</div>
        </div>
        <div class="trump-item">
          <div class="trump-container">
            <h2 class="heading-3">РАСШИРЕННЫЙ ФУНКЦИОНАЛ</h2>
            <p>Есть возможность загрузки различных комплектаций, цветовых вариантов или размеров для одного товара.</p>
          </div>
          <div class="slider-item__num">2</div>
        </div>
      </div>
      <div class="tramp-row-item right"><img src="<%= theme_img_url "funnel_shop/trump-img.png" %>"></div>
    </div>
    <div class="trump-row reverse">
      <div class="tramp-row-item">
        <div class="trump-item">
          <div class="trump-container">
            <h2 class="heading-3">A/B-ТЕСТИРОВАНИЕ</h2>
            <p>Ставьте эксперименты, меняя местами информационные блоки и контент на сайте. Анализируйте эффективность изменений, чтобы повысить конверсию и прибыль.</p>
            <div class="variant-block reverse">
              <div class="variant-label">Посетителей за день: <strong>120</strong></div>
              <div class="profit-sep">{</div>
              <div class="progress-container">
                <div class="progress-bar-tem">
                  <div class="progress-bar">
                    <div class="progress-bar_in" style="width: 25%"></div>
                  </div>
                  <div class="progress-bar-text">
                    <div class="progress-bar-title">Вариант «А»</div>
                    <div class="progress-bar-text-label">Кол-во покупателей: <strong>19</strong></div>
                  </div>
                </div>
                <div class="progress-bar-tem">
                  <div class="progress-bar">
                    <div class="progress-bar_in" style="width: 55%"></div>
                  </div>
                  <div class="progress-bar-text">
                    <div class="progress-bar-title">Вариант «B»</div>
                    <div class="progress-bar-text-label">Кол-во покупателей: <strong>40</strong></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="slider-item__num">3</div>
        </div>
      </div>
      <div class="tramp-row-item right"><img src="<%= theme_img_url "funnel_shop/ab.png" %>"></div>
    </div>
    <div class="trump-row">
      <div class="tramp-row-item">
        <div class="trump-item">
          <div class="trump-container">
            <h2 class="heading-3">ПОЛНАЯ ИНФОРМАЦИЯ О ЗАКАЗЕ</h2>
            <p>Менеджер получает заявку на почту с полной информацией по товару как в стандартном интернет-магазине: название товара, цвет, размер, количество, цена и т.д.</p>
          </div>
          <div class="slider-item__num">4</div>
        </div>
        <div class="trump-item">
          <div class="trump-container">
            <h2 class="heading-3">ИНТЕГРАЦИЯ С CRM</h2>
            <p>Возможна интеграция с общей CRM-системой стандартного интернет-магазина. При этом заказы, приходящие с одностраничного интернет-магазина, можно отфильтровать. </p>
          </div>
          <div class="slider-item__num">5</div>
        </div>
      </div>
      <div class="tramp-row-item right"><img src="<%= theme_img_url "funnel_shop/mac_info.png" %>"></div>
    </div>
  </div>
</div>

<div class="trump">
  <div class="container small">
    <div id="bonus" class="block-header i-big">
      <h2 class="heading">Создадим серию лендингов <span class="yellow">с экономией до 75%</span> на разработке</h2>
      <div class="decor-text">БОНУС</div>
      <div class="text-center-padding">
        <p class="lineh">Благодаря возможности изменять весь контент, начиная с текста и заканчивая картинками, можно создать серию одностраничных интернет-магазинов под разные товары с минимальным вмешательством разработчиков.</p>
        <p class="lineh">
          <span class="yellow">Поэтому стоимость каждого следующего одностраничного интернет-магазина для вас составит всего 25% от стоимости первого!</span></p>
      </div>

    </div>
    <div class="bonus-block">
      <div class="trump-row">
        <div class="tramp-row-item">
          <div class="bonus-text">
            <div class="text-block"></div>
            <div class="text-block-2">75%</div>
          </div>
        </div>
        <div class="tramp-row-item right">
          <h2 class="heading-3">Вы получаете многофункциональную систему по цене одного сайта</h2>
          <p class="lineh">Много лендингов — система одна. Синхронизация с 1С, удобное администрирование, быстрая обработка заказов и многое другое.</p>
          <p class="lineh">
            <span class="yellow">Узнайте, как начать зарабатывать на 30% больше с помощью серии одностраничников на бесплатной консультации</span></p>
          <div class="center">
            <a href="javascript:;" class="btn w-button btn-border consulting-button">Записаться на бесплатную консультацию<div class="angle-docore">
              <div class="angle">
                <div class="separator"></div>
                <div class="b1"></div>
              </div>
              <div class="angle tl">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle tr">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle br">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
            </div><div class="angle-docore">
              <div class="angle">
                <div class="separator"></div>
                <div class="b1"></div>
              </div>
              <div class="angle tl">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle tr">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle br">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
            </div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gains-decor2"></div>
</div>

<div class="slider2 slider-t2">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">Наши проекты</h2>
      <p>Одностраничник для интернет-магазина Babyhit — увеличили продажи на 20% за 30 дней </p>
      <div class="decor-text">пример</div>
    </div>


    <div id="trigger3"></div>
    <div id="pin3">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="slider-item-container">
              <div  class="slider-item">
                <div class="slider-item__mac i-slide1">

                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">задачи и цели:</h2>
                    <p><strong>Цель:</strong><br><span class="yellow">Увеличить продажи</span> сезонного товара - колясок-тростей Babyhit Rainbow. </p>

                    <p><strong>Задача:</strong></p>
                    <ol class="list-numbers">
                      <li><span class="yellow">Ознакомить</span> покупателей с особенностями и преимуществами колясок.</li>
                      <li><span class="yellow">Упростить</span> процедуру покупки, по сравнению с интернет-магазином.</li>
                    </ol>
                  </div>
                  <div class="slider-item__num">01</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-item-container">
              <div  class="slider-item">
                <div class="slider-item__mac i-slide2">

                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">аналитика и концепция:</h2>
                    <ol class="list-numbers">
                      <li>Провели маркетинговый анализ. <span class="yellow">Изучили бизнес заказчика</span>, предложения конкурентов и потребности целевой аудитории.</li>
                      <li><span class="yellow">Собрали</span> семантику</li>
                      <li>Разработали <span class="yellow">прототип с UX</span> составляющей</li>
                      <li>Разработали <span class="yellow">техническое задание</span></li>
                    </ol>
                  </div>
                  <div class="slider-item__num">02</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-item-container">
              <div  class="slider-item">
                <div class="slider-item__mac i-slide3">

                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">визуализация:</h2>
                    <ol class="list-numbers">
                      <li>Разработали <span class="yellow">уникальный дизайн</span> с учетом маркетинговой составляющей.</li>
                      <li>Создали <span class="yellow">мобильную и планшетную</span> версию дизайна.</li>
                      <li>Отрисовали <span class="yellow">более 20-ти</span> тематических иконок.</li>
                    </ol>
                  </div>
                  <div class="slider-item__num">03</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-item-container">
              <div  class="slider-item i-center-item">

                <video autoplay loop id="example">
                  <source src="<%= theme_img_url "funnel_shop/video/example.mp4" %>" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                </video>

                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">верстка и анимация:</h2>
                    <ol class="list-numbers">
                      <li>Создали <span class="yellow">валидную верстку</span> с использованием новейших технологий.</li>
                      <li><span class="yellow">«Оживили»</span> сайт при помощи анимации.</li>
                      <li>Провели базовую <span class="yellow">SEO-оптимизацию</span>.</li>
                      <li><span class="yellow">Оптимизировали скорость</span> загрузки сайта.</li>
                    </ol>
                  </div>
                  <div class="slider-item__num">04</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-item-container">
              <div  class="slider-item">
                <div class="slider-item__mac i-slide5">

                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">адаптивность:</h2>
                    <ol class="list-numbers">
                      <li>Создали <span class="yellow">планшетную и мобильную</span> версию одностраничного интернет-магазина.</li>
                      <li><span class="yellow">Протестировали сайт</span> на всех возможных устройствах и браузерах.</li>
                    </ol>
                  </div>
                  <div class="slider-item__num">05</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slider-item-container">
              <div  class="slider-item">
                <div class="slider-item__mac i-slide6">

                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">программирование:</h2>
                    <ol class="list-numbers">
                      <li>Разработали админ-панель, которая загружает и редактирует
                        <span class="yellow">контент на 2-х языках</span>.</li>
                      <li>Загрузили <span class="yellow">цветовые варианты</span> одного товара.</li>
                      <li>Подключили <span class="yellow">сайт к CRM-системе</span> интернет-магазина.</li>
                      <li>Внедрили <span class="yellow">SEO-модуль</span> (titles, descriptions, keywords).</li>
                    </ol>
                  </div>
                  <div class="slider-item__num">06</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="gains-decor2"></div>
  <div class="gains-decor1"></div>
</div>

<div class="garanty">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">С SiteOn надежно</h2>
      <div class="decor-text">гарантии</div>
    </div>
    <div class="cols-4">
      <div class="col-3">
        <div class="bulit-block">
          <div class="bulit-icon-big"></div>
          <p>Работаем по официальному договору, в котором каждый этап выполнения согласовывается с клиентом</p>
        </div>
      </div>
      <div class="col-3">
        <div class="bulit-block">
          <div class="bulit-icon-big"></div>
          <p>Поэтапная оплата частями по мере выполнения и демонстрации работ</p>
        </div>
      </div>
      <div class="col-3">
        <div class="bulit-block">
          <div class="bulit-icon-big"></div>
          <p>Вы получите все исходники и доступы к сайту после завершения работ</p>
        </div>
      </div>
      <div class="col-3">
        <div class="bulit-block">
          <div class="bulit-icon-big"></div>
          <p>Бесплатно консультируем заказчика и  поддерживаем сайт в течении 60-90 дней</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="quote">
  <div class="container small">
    <div class="quote-body">
      <div class="quote-decor"></div>
      <p class="paragraph-2">Одностраничный интернет-магазин в кратчайшие сроки привлечет внимание покупателей даже к самому «залежалому» товару. В случае плохого спроса на продукт, нужно просто поместить его на отдельную страницу  и дело сразу пойдет на лад.</p>
      <p class="paragraph">Дефицит - двигатель торговли!</p>
    </div>
    <div class="quote-footer">
      <div class="wright-top">
        <div class="wright-name">Максим Ларин</div><img src="<%= theme_img_url "funnel_shop/larin.png" %>" class="wrigther"></div>
      <div class="wright-type">Владелец сети интернет- магазинов</div>
    </div>
  </div>
  <div class="wrighter_person"></div>
</div>
<div id="reviews" class="reviews">
  <div class="container small">
    <div class="block-header i-big p-1">
      <h2 class="heading">Вот что о нас говорят</h2>
      <div class="decor-text">ОТЗЫВЫ</div>
    </div>
    <div class="comments-block">
      <div class="comments-item">
        <div class="comments-item-wiper">
          <div class="comments-text">Завдяки якісній та оперативній роботі команди SiteOn ми отримали сайт з сучасним дизайном. Сайт польського виробника X-lander, створений спеціалістами SiteOn, дозволив нам не тільки якісно представити покупцям продукцію польського виробника, але і автоматизувати такий важливий процес, як гарантійне обслуговування наших візочків. Ми переконалися, що компанія може справлятися із завданнями будь-якої складності, і хочемо зазначити, що наша співпраця була взаємовигідною та приємною.</div>
          <div class="comments-footer">
            <div class="ava"><img src="<%= theme_img_url "funnel_shop/reviews/dashkeev-min1-jpg_80x80.jpg" %>"></div>
            <div class="footer-text">
              <div class="text-block-3">Євген Дашкеєв</div>
              <div class="comments-titolo">x-lander.com.ua</div>
            </div>
          </div>
          <div class="quote-decor"></div>
        </div>
        <div class="dashed yellow"></div>
      </div>
      <div class="comments-item">
        <div class="comments-item-wiper">
          <div class="comments-text">Компанію SiteOn мені порекомендували знайомі. Нашій команді постійно доводиться створювати багато проектів у мережі, додавати сервіси та функції до вже існуючих. Кожного разу я стикався із байдужістю розробника до наших термінових завдань, його зайнятість, неможливість зв’язатися по телефону, захмарні ціни. Але виявилось, що існує команда, яка настільки любить свою справу, що процес створення проектів став легким та плідним. Після запуску проекту люди нікуди не зникли, завжди на зв’язку та готові допомогти. Дякую за якісну роботу, постійний зворотній зв’язок та зрозумілі ціни!</div>
          <div class="comments-footer">
            <div class="ava"><img src="<%= theme_img_url "funnel_shop/reviews/kuras-min-jpg_80x80.jpg" %>"></div>
            <div class="footer-text">
              <div class="text-block-3">Максим Курас</div>
              <div class="comments-titolo">kvartal-concert.com</div>
            </div>
          </div>
          <div class="quote-decor"></div>
        </div>
        <div class="dashed yellow"></div>
      </div>
    </div>
    <div class="comments-block">
      <div class="comments-item">
        <div class="comments-item-wiper">
          <div class="comments-text">Ми звернулися в SiteOn для розробки сайту шведського виробника дитячих товарів для годування Twistshake. Сайт з дитячою продукцією обов’язково повинен мати гарний дизайн та зручний функціонал. Ми відразу зрозуміли, що знаходимося в надійних руках. Було швидко розроблено чіткий план дій,  і в обіцяний термін ми отримали зручний сайт із урахуванням ключових трендів дизайну. Було приємно, що усі наші побажання були враховані. Розроблений сайт став невід’ємною частиною просування бренду Twistshake на теренах України. Наші маленькі покупці дуже вам вдячні.</div>
          <div class="comments-footer">
            <div class="ava"><img src="<%= theme_img_url "funnel_shop/reviews/levchenko-min-jpg_80x80.jpg" %>"></div>
            <div class="footer-text">
              <div class="text-block-3">Марія Левченко</div>
              <div class="comments-titolo">twistshake.com.ua</div>
            </div>
          </div>
          <div class="quote-decor"></div>
        </div>
        <div class="dashed yellow"></div>
      </div>
      <div class="comments-item">
        <div class="comments-item-wiper">
          <div class="comments-text">Моя професія - фотограф. Багато часу я мріяв про створення власного сайту. Отже, коли з’явилась можливість, я звернувся до розробників. Але тут мене спіткала несподіванка. Мої вимоги щодо дизайну та функціоналу сприймали несерйозно. Одного разу мій приятель порадив звернутися до компанії SiteOn. Я був вражений, наскільки професійно люди ставляться до своєї роботи.  Пройшло зовсім небагато часу після обговорення нюансів, а демо-версія вже готова. Особливо приємним було те,що усі мої побажання було враховано. Дуже вдячний SiteOn за співпрацю!</div>
          <div class="comments-footer">
            <div class="ava"><img src="<%= theme_img_url "funnel_shop/reviews/marchenko-min-jpg_80x80.jpg" %>"></div>
            <div class="footer-text">
              <div class="text-block-3">Макс Марченко</div>
              <div class="comments-titolo">mmarchenko.com</div>
            </div>
          </div>
          <div class="quote-decor"></div>
        </div>
        <div class="dashed yellow"></div>
      </div>
    </div>

    <div class="comments-block">
      <div class="comments-item">
        <div class="comments-item-wiper">
          <div class="comments-text">Ми замовили SiteOn досить складний проект інтернет-магазину під значний обсяг товарів, та з великою кількістю інтеграцій із зовнішніми системами. Висловлюємо подяку спеціалістам компанії за професійне відношення та креативний підхід. Наше замовлення було виконано в обумовлений термін та без жодних зауважень. Бажаємо вам успіхів і сподіваємося на подальшу плідну співпрацю.</div>
          <div class="comments-footer">
            <div class="ava"><img src="<%= theme_img_url "funnel_shop/reviews/pashchuk-min-png_80x80.png" %>"></div>
            <div class="footer-text">
              <div class="text-block-3">Ірина Пащук</div>
              <div class="comments-titolo">babyhit.ua</div>
            </div>
          </div>
          <div class="quote-decor"></div>
        </div>
        <div class="dashed yellow"></div>
      </div>
      <div class="comments-item">
        <div class="comments-item-wiper">
          <div class="comments-text">Дуже вдячні за співпрацю. Нам сподобався ваш креативний та водночас раціональний підхід до завдання. Ви вмієте вислухати замовника та зрозуміли потреби наших клієнтів. Сайт mima.com.ua було створено з метою надання максимум інформації про товари преміум-сегмента. Для нас особливо важливо було гідно представити досить дорогий іспанський бренд. Команда SiteOn блискуче впоралася із завданням. Це дало можливість познайомити мам України із зручними та якісними візочками Mima.</div>
          <div class="comments-footer">
            <div class="ava"><img src="<%= theme_img_url "funnel_shop/reviews/totskiy-min-jpg_80x80.jpg" %>"></div>
            <div class="footer-text">
              <div class="text-block-3">Вячеслав Тоцький</div>
              <div class="comments-titolo">mima.com.ua</div>
            </div>
          </div>
          <div class="quote-decor"></div>
        </div>
        <div class="dashed yellow"></div>
      </div>
    </div>
  </div>
</div>

<div id="quality" class="quality">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">6 шагов к результату</h2>
      <p>Комплексный подход, который обеспечивает продажи с первого дня запуска рекламы</p>
      <div class="decor-text">КАЧЕСТВО</div>
    </div>
    <div class="decore-lamp"></div>
  </div>
</div>
<div class="slider2 slider-t1">
  <div class="container small">

    <div id="trigger2"></div>
    <div id="pin2">
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="num-block">
              <div class="num-block-title">
                <div class="num-title-num">01</div>
                <div class="num-title-text">МАРКЕТИНГОВЫЕ <br>исследования</div>
              </div>
              <div class="num-container">
                <div class="num-block-container">
                  <div class="num-inner">
                    <ol class="list-numbers">
                      <li>Изучаем особенности бизнеса.</li>
                      <li>Анализируем конкурентов.</li>
                      <li>Исследуем ЦА, ее боли и потребности.</li>
                      <li>Разрабатываем стратегию продаж.</li>
                    </ol>
                  </div>
                </div>
                <div class="dashed"></div>
              </div>
              <div class="num-text">Для каждого проекта мы создаем свою стратегию привлечения клиентов после глубокого анализа бизнеса и целевой аудитории.</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="num-block">
              <div class="num-block-title">
                <div class="num-title-num">02</div>
                <div class="num-title-text">КОНЦЕПЦИЯ И ПРОТОТИП</div>
              </div>
              <div class="num-container">
                <div class="num-block-container">
                  <div class="num-inner">
                    <ol class="list-numbers">
                      <li>Делаем прототип страницы с маркетинговой составляющей.</li>
                      <li>Создаем техническое задание.</li>
                      <li>Пишем УТП (уникальное торговое предложение) и продающие тексты.</li>
                    </ol>
                  </div>
                </div>
                <div class="dashed"></div>
              </div>
              <div class="num-text">Разрабатываем детальный UX прототип для каждого проекта. Это позволяет избежать ошибок и составить идеальную структуру страницы перед дизайном.</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="num-block">
              <div class="num-block-title">
                <div class="num-title-num">03</div>
                <div class="num-title-text">СОВРЕМЕННЫЙ ДИЗАЙН БЕЗ ШАБЛОНОВ</div>
              </div>
              <div class="num-container">
                <div class="num-block-container">
                  <div class="num-inner">
                    <ol class="list-numbers">
                      <li>Уникальный стиль с учетом вашей ЦА.</li>
                      <li>Несколько вариантов стилистики.</li>
                      <li>Отрисовка отдельного дизайна для мобильной версии.</li>
                    </ol>
                  </div>
                </div>
                <div class="dashed"></div>
              </div>
              <div class="num-text">Только уникальный дизайн может выделить вас среди конкурентов и дать высокую конверсию.</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="num-block">
              <div class="num-block-title">
                <div class="num-title-num">04</div>
                <div class="num-title-text">КАЧЕСТВЕННАЯ ПРОФЕССИОНАЛЬНАЯ ВЕРСТКА </div>
              </div>
              <div class="num-container">
                <div class="num-block-container">
                  <div class="num-inner">
                    <ol class="list-numbers">
                      <li>Используем новейшие технологии верстки.</li>
                      <li>Верстаем, используя все стандарты.</li>
                      <li>Оптимизируем скорость загрузки страницы.</li>
                      <li>Адаптируем под мобильные устройства.</li>
                      <li>Базовая SEO оптимизация.</li>
                    </ol>
                  </div>
                </div>
                <div class="dashed"></div>
              </div>
              <div class="num-text">Ваш сайт будет выглядеть эффектно, благодаря новейшим web-технологиям (HTML5, CSS3, jQuery анимация и Parallax).</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="num-block">
              <div class="num-block-title">
                <div class="num-title-num">05</div>
                <div class="num-title-text">ПРОГРАММИРОВАНИЕ И ИНТЕГРАЦИИ </div>
              </div>
              <div class="num-container">
                <div class="num-block-container">
                  <div class="num-inner">
                    <ol class="list-numbers">
                      <li>Настраиваем форму заказов и обратной связи.</li>
                      <li>Подключаем форму заказов и обратной связи к CRM.</li>
                      <li>Разрабатываем административную панель</li>
                      <li>Интегрируем СMS для полного управления сайтом.</li>
                      <li>Подключаем платежные системы (LiqPay).</li>
                      <li>Переносим сайт на хостинг.</li>
                    </ol>
                  </div>
                </div>
                <div class="dashed"></div>
              </div>
              <div class="num-text">Настраиваем и тестируем работу сайта на разных устройствах. Благодаря быстрой загрузке и удобному интерфейсу страницы, добиваемся максимальной конверсии.</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="num-block">
              <div class="num-block-title">
                <div class="num-title-num">06</div>
                <div class="num-title-text">ТЕХНИЧЕСКАЯ ПОДДЕРЖКА </div>
              </div>
              <div class="num-container">
                <div class="num-block-container">
                  <div class="num-inner">
                    <ol class="list-numbers">
                      <li>Обеспечиваем техническое сопровождение страницы.</li>
                      <li>Обучаем работе с админ-панелью СMS.</li>
                      <li>Предоставляем видео-мануал по пользованию админ-панели СMS.</li>
                      <li>Помогаем с настройкой рекламы.</li>
                    </ol>
                  </div>
                </div>
                <div class="dashed"></div>
              </div>
              <div class="num-text">После сдачи проекта оперативно консультируем и помогаем по любым техническим вопросам.</div>
            </div>
          </div>
        </div>

      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="gains-decor2"></div>
  <div class="gains-decor1"></div>
</div>

<div id="price" class="quality">
  <div class="container small">
    <div class="block-header i-big minus">
      <h2 class="heading">Выберите свой тариф</h2>
      <div class="decor-text">цена</div>
    </div>
    <div class="decore-lamp"></div>
    <div class="text-right-padding">
      <p>Опытные бизнесмены знают точно - <span class="yellow">чтобы</span> серьезно <span class="yellow">зарабатывать, необходимо</span> соответсвенно <span class="yellow">инвестировать</span> в маркетинг и рекламу. Деньги, которые вы вкладываете в разработку - это депозит, который даст солидные дивиденды уже через месяц.</p>
    </div>
    <div class="num-block-title">3 основных тарифа на создание одностраничного интернет магазина*:</div>
    <div class="form-row">
      <div class="form-row-col">


        <!--<p class="li-p"><span class="check"></span><span class="yellow">От количества анимации и WOW-эффектов</span> (на реализацию каждого эффекта необходимо время нескольких специалистов, соответственно, чем больше эффектов - тем выше стоимость )</p>-->
        <div class="table-price">
          <div class="table">
            <div class="table-header">
              <div class="tr">
                <div class="td"></div>
                <div class="td">VIP</div>
                <div class="td">NORMAL</div>
                <div class="td">BASE</div>
              </div>
            </div>
            <div class="table-body">
              <div class="tr">
                <div class="td">Кол-во  экранов (блоков)</div>
                <div class="td">от 15</div>
                <div class="td">до 10-ти</div>
                <div class="td">до 5-ти</div>
              </div>
              <div class="tr">
                <div class="td">Маркетинговый анализ</div>
                <div class="td">+</div>
                <div class="td">+</div>
                <div class="td">-</div>
              </div>
              <div class="tr">
                <div class="td">Разработка стратегии продаж</div>
                <div class="td">+</div>
                <div class="td">+</div>
                <div class="td">-</div>
              </div>
              <div class="tr">
                <div class="td">Уникальный дизайн</div>
                <div class="td">+</div>
                <div class="td">+</div>
                <div class="td">+</div>
              </div>
              <div class="tr">
                <div class="td">Кол-во вариантов стилистики</div>
                <div class="td">3-5</div>
                <div class="td">2</div>
                <div class="td">1</div>
              </div>
              <div class="tr">
                <div class="td">Дизайн под мобильные устройства</div>
                <div class="td">+</div>
                <div class="td">+</div>
                <div class="td">-</div>
              </div>
              <div class="tr">
                <div class="td">Верстка с использованием всех стандартов HTML5, CSS3</div>
                <div class="td">+</div>
                <div class="td">+</div>
                <div class="td">+</div>
              </div>
              <div class="tr">
                <div class="td">Внедрение анимационных эффектов</div>
                <div class="td">+</div>
                <div class="td">+</div>
                <div class="td">-</div>
              </div>
              <div class="tr">
                <div class="td">Базовая SEO оптимизация</div>
                <div class="td">+</div>
                <div class="td">-</div>
                <div class="td">-</div>
              </div>
              <div class="tr">
                <div class="td">Подключение аналитических сервисов</div>
                <div class="td">+</div>
                <div class="td">+</div>
                <div class="td">-</div>
              </div>
              <div class="tr">
                <div class="td">Подключение аналитических сервисов</div>
                <div class="td">+</div>
                <div class="td">+</div>
                <div class="td">-</div>
              </div>
              <div class="tr">
                <div class="td">Настройка форм заказов и обратной связи на Email</div>
                <div class="td">+</div>
                <div class="td">+</div>
                <div class="td">+</div>
              </div>
              <div class="tr">
                <div class="td">Подключение форм заказов и обратной связи к CRM</div>
                <div class="td">+</div>
                <div class="td">-</div>
                <div class="td">-</div>
              </div>
              <div class="tr">
                <div class="td">Интеграция с СMS </div>
                <div class="td">+</div>
                <div class="td">+</div>
                <div class="td">+</div>
              </div>
              <div class="tr">
                <div class="td">Разработка панели для администрирования</div>
                <div class="td">+</div>
                <div class="td">+</div>
                <div class="td">+</div>
              </div>
              <div class="tr">
                <div class="td">Консультации и помощь по настройке рекламы</div>
                <div class="td">+</div>
                <div class="td">-</div>
                <div class="td">-</div>
              </div>
            </div>
            <div class="table-footer">
              <div class="tr">
                <div class="td"></div>
                <div class="td">2880$</div>
                <div class="td">1920$</div>
                <div class="td">960$</div>
              </div>
            </div>
          </div>

          <a href="#order" class="btn hide-lg btn-link btn-big w-button">Заказать <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div></a>

          <div class="note">
            **Стоимость может меняться как в большую, так и в меньшую сторону, в зависимости от ваших требований.
          </div>
        </div>

      </div>
      <div  id="order" class="form-row-col right">
        <div class="from-wrapper">
          <div  class="form-block">
            <div class="problem-item__title">Заказать одностраничного интернет-магазина</div>
            <div class="form-block-2 w-form">
              <% form = current_site.contact_forms.where({slug: "marketing-form"}).first %>

              <% if form.present? %>
                <%= form_for form, url: plugins_cama_contact_form_save_form_path, html: {method: "post", class: "validate-form form vertical", multipart: true} do |f| %>
                  <%= hidden_field_tag "id", form.id %>
                  <%= hidden_field_tag "format", "json" %>
                  <div class="form-group p-t">
                    <% name_field = get_form_field(form, "c2") %>
                    <div class="icon-input"></div><input class="input-text w-input" name="<%= name_field[:name] %>" type="text" <%= 'required' if name_field[:required].to_bool %> placeholder="<%= name_field[:field_options][:description].translate %>">
                    <div class="angle-docore">
                      <div class="angle">
                        <div class="separator"></div>
                        <div class="b1"></div>
                      </div>
                      <div class="angle tl">
                        <div class="b1"></div>
                        <div class="separator"></div>
                      </div>
                      <div class="angle tr">
                        <div class="b1"></div>
                        <div class="separator"></div>
                      </div>
                      <div class="angle br">
                        <div class="b1"></div>
                        <div class="separator"></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group p-t">
                    <% phone_field = get_form_field(form, "c3") %>
                    <div class="icon-input"></div><input class="input-text w-input" name="<%= phone_field[:name] %>" type="tel" <%= 'required' if phone_field[:required].to_bool %>  placeholder="<%= phone_field[:field_options][:description].translate %>">
                    <div class="angle-docore">
                      <div class="angle">
                        <div class="separator"></div>
                        <div class="b1"></div>
                      </div>
                      <div class="angle tl">
                        <div class="b1"></div>
                        <div class="separator"></div>
                      </div>
                      <div class="angle tr">
                        <div class="b1"></div>
                        <div class="separator"></div>
                      </div>
                      <div class="angle br">
                        <div class="b1"></div>
                        <div class="separator"></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group p-t">
                    <% email_field = get_form_field(form, "c4") %>
                    <div class="icon-input"></div><input class="input-text w-input" name="<%= email_field[:name] %>" type="email" <%= 'required' if email_field[:required].to_bool %>  placeholder="<%= email_field[:field_options][:description].translate %>">
                    <div class="angle-docore">
                      <div class="angle">
                        <div class="separator"></div>
                        <div class="b1"></div>
                      </div>
                      <div class="angle tl">
                        <div class="b1"></div>
                        <div class="separator"></div>
                      </div>
                      <div class="angle tr">
                        <div class="b1"></div>
                        <div class="separator"></div>
                      </div>
                      <div class="angle br">
                        <div class="b1"></div>
                        <div class="separator"></div>
                      </div>
                    </div>
                  </div>

                  <input class="who-are-you" type="text" name="who_are_you" value="">
                  <div class="fomr-submit p-t"><input type="submit" value="бесплатная консультация"  class="btn w-button">
                    <div class="angle-docore">
                      <div class="angle">
                        <div class="separator"></div>
                        <div class="b1"></div>
                      </div>
                      <div class="angle tl">
                        <div class="b1"></div>
                        <div class="separator"></div>
                      </div>
                      <div class="angle tr">
                        <div class="b1"></div>
                        <div class="separator"></div>
                      </div>
                      <div class="angle br">
                        <div class="b1"></div>
                        <div class="separator"></div>
                      </div>
                    </div>
                  </div>

                <% end %>
                <div class="w-form-done">
                  <span class="valid-msg msg-block__sucess"></span>
                </div>
                <div class="w-form-fail">
                  <span class="error-msg msg-block__error"></span>
                </div>
              <% end %>
            </div>
            <div class="lock"><span class="lok-ico"></span>Ваши данные надежно защищены</div>
          </div>
          <div class="dashed"></div>
        </div>
      </div>
    </div>

    <div class="block-header i-big minus">
      <h2 class="heading">Нет подходящей цены?</h2>

      <div class="text-center-padding">
        <p><span class="yellow">Давайте обсудим ваш проект. И сделаем бесплатный просчет стоимости одностраничного интернет-магазина с учетом ваших пожеланий за ХХ минут.</span></p>
      </div>
      <br>
      <div class="center">
        <a href="javascript:;" class="btn w-button btn-border consulting-button">Записаться на бесплатную консультацию<div class="angle-docore">
          <div class="angle">
            <div class="separator"></div>
            <div class="b1"></div>
          </div>
          <div class="angle tl">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle tr">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle br">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
        </div><div class="angle-docore">
          <div class="angle">
            <div class="separator"></div>
            <div class="b1"></div>
          </div>
          <div class="angle tl">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle tr">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle br">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
        </div><div class="angle-docore">
          <div class="angle">
            <div class="separator"></div>
            <div class="b1"></div>
          </div>
          <div class="angle tl">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle tr">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle br">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
        </div></a>
      </div>
      <div class="decor-text">цена</div>
    </div>
  </div>
</div>


<div class="last-form">
  <h2 class="heading">ЕСЛИ У ВАС ОСТАЛИСЬ ВОПРОСЫ ИЛИ ВОЗНИКЛИ <br>ПОЖЕЛАНИЯ МЫ С УДОВОЛЬСТВИЕМ ВАС ВЫСЛУШАЕМ!</h2>
  <p>Если вам мало информации на этой странице,  давайте общаться напрямую!</p>
  <p>Просто заполните форму ниже, чтобы мы могли вам перезвонить и вы зададите все вопросы: <br>зачем, почему, сколько и т.д. нашему специалисту!</p>
  <div class="form-block-2 w-form">
    <% form = current_site.contact_forms.where({slug: "marketing-form"}).first %>

    <% if form.present? %>
      <%= form_for form, url: plugins_cama_contact_form_save_form_path, html: {method: "post", class: "validate-form form vertical", multipart: true} do |f| %>
        <%= hidden_field_tag "id", form.id %>
        <%= hidden_field_tag "format", "json" %>
        <div class="form-group p-t">
          <% name_field = get_form_field(form, "c2") %>
          <div class="icon-input"></div><input class="input-text w-input" name="<%= name_field[:name] %>" type="text" <%= 'required' if name_field[:required].to_bool %> placeholder="<%= name_field[:field_options][:description].translate %>">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="form-group p-t">
          <% phone_field = get_form_field(form, "c3") %>
          <div class="icon-input"></div><input class="input-text w-input" name="<%= phone_field[:name] %>" type="tel" <%= 'required' if phone_field[:required].to_bool %>  placeholder="<%= phone_field[:field_options][:description].translate %>">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="form-group p-t">
          <% email_field = get_form_field(form, "c4") %>
          <div class="icon-input"></div><input class="input-text w-input" name="<%= email_field[:name] %>" type="email" <%= 'required' if email_field[:required].to_bool %>  placeholder="<%= email_field[:field_options][:description].translate %>">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>

        <input class="who-are-you" type="text" name="who_are_you" value="">
        <div class="fomr-submit p-t"><input type="submit" value="бесплатная консультация"  class="btn w-button">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>

      <% end %>
      <div class="w-form-done">
        <span class="valid-msg msg-block__sucess"></span>
      </div>
      <div class="w-form-fail">
        <span class="error-msg msg-block__error"></span>
      </div>
    <% end %>
  </div>
  <div class="center">
    <div class="lock"><span class="lok-ico"></span>Ваши данные надежно защищены</div>
  </div>
</div>
<div class="footer">
  <div class="container small">
    <div class="footer-items">
      <div class="footer-item"><span class="footer-icon"></span> г. Киев, переулок Ахтырский, 3</div>
      <div class="footer-item yellow"><span class="footer-icon"></span> +38(066) 419 11 25</div>
      <div class="footer-item yellow"><span class="footer-icon"></span> +38(098) 637 18 93</div>
      <div class="footer-item"><span class="footer-icon"></span> info@siteon.com.ua</div>
    </div>
  </div>
  <div class="footer-bottom"><a href="/ru/soglasie-s-rassylkoy" target="_blank" class="footer-link">Согласие с рассылкой</a><a href="/politika-konfidentsiynosti" target="_blank" class="footer-link">Политика конфиденциальности</a><a href="/ru/otkaz-ot-otvetstvennosti" target="_blank" class="footer-link">Дисклеймер</a>
    <div class="coperate">© 2018 Все права защищены</div>
  </div>
</div>

<div class="success-form-block-hide">
  <div class="success-form-block">
    <div class="success-form-block-content">
      <h2>Отлично!</h2>
      <p>Завка успешно отправленна! Мы вам перезовним, как только ваши данные будут обработаны.</p>
      <a href="javascript:;" class="close-info">x</a>
    </div>
  </div>
</div>

<div class="hide-form">
  <div class="hide-form-inner">
    <div class="hide-form-content">
      <h2>Запись на консультацию</h2>
      <p>Чтобы зипсаться на консультацию, заполните фирму ниже</p>

      <% form = current_site.contact_forms.where({slug: "marketing-form"}).first %>

      <% if form.present? %>
        <%= form_for form, url: plugins_cama_contact_form_save_form_path, html: {method: "post", class: "validate-form form vertical", multipart: true} do |f| %>
          <%= hidden_field_tag "id", form.id %>
          <%= hidden_field_tag "format", "json" %>
          <div class="form-group p-t">
            <% name_field = get_form_field(form, "c2") %>
            <div class="icon-input"></div><input class="input-text w-input" name="<%= name_field[:name] %>" type="text" <%= 'required' if name_field[:required].to_bool %> placeholder="<%= name_field[:field_options][:description].translate %>">
            <div class="angle-docore">
              <div class="angle">
                <div class="separator"></div>
                <div class="b1"></div>
              </div>
              <div class="angle tl">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle tr">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle br">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
            </div>
          </div>
          <div class="form-group p-t">
            <% phone_field = get_form_field(form, "c3") %>
            <div class="icon-input"></div><input class="input-text w-input" name="<%= phone_field[:name] %>" type="tel" <%= 'required' if phone_field[:required].to_bool %>  placeholder="<%= phone_field[:field_options][:description].translate %>">
            <div class="angle-docore">
              <div class="angle">
                <div class="separator"></div>
                <div class="b1"></div>
              </div>
              <div class="angle tl">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle tr">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle br">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
            </div>
          </div>
          <div class="form-group p-t">
            <% email_field = get_form_field(form, "c4") %>
            <div class="icon-input"></div><input class="input-text w-input" name="<%= email_field[:name] %>" type="email" <%= 'required' if email_field[:required].to_bool %>  placeholder="<%= email_field[:field_options][:description].translate %>">
            <div class="angle-docore">
              <div class="angle">
                <div class="separator"></div>
                <div class="b1"></div>
              </div>
              <div class="angle tl">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle tr">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle br">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
            </div>
          </div>

          <input class="who-are-you" type="text" name="who_are_you" value="">
          <div class="fomr-submit p-t"><input type="submit" value="бесплатная консультация"  class="btn w-button">
            <div class="angle-docore">
              <div class="angle">
                <div class="separator"></div>
                <div class="b1"></div>
              </div>
              <div class="angle tl">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle tr">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle br">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
            </div>
          </div>

        <% end %>
        <div class="w-form-done">
          <span class="valid-msg msg-block__sucess"></span>
        </div>
        <div class="w-form-fail">
          <span class="error-msg msg-block__error"></span>
        </div>
      <% end %>

      <a href="javascript:;" class="close-info">x</a>
    </div>
  </div>
</div>